.grid {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.gridItem {
  padding: 1rem;
}

.empty {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: var(--empty-list-text);
  font-style: italic;
}
