.grid {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.gridItem {
  padding: 1rem;
}

.gridLoadingRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.empty {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: var(--empty-list-text);
  font-style: italic;
}
