body {
  font-family:
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  color: var(--primary-text);
  background-color: var(--primary-background);
  accent-color: var(--accent-color);
  margin: 0;
  overscroll-behavior: none;
  user-select: none;
  overflow: hidden;

  button,
  select,
  input {
    font-family: inherit;
    color: inherit;
  }

  button {
    background: none;
    border: none;
    border-radius: 0.25rem;
  }

  .settings-section {
    margin-bottom: 2rem;
  }

  .settings-heading {
    margin: 1rem;
    margin-left: 0;
    font-size: 1rem;
    line-height: normal;
    font-weight: 500;
  }

  .settings-button {
    border: 1px solid var(--settings-button-border);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;

    &:hover {
      background-color: var(--button-background-hover);
    }
  }

  .settings-select {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--settings-select-background);
    font-size: 0.9rem;
  }
}
