body {
  /* Soprano overrides */
  --slider-thumb-size: 8px;
  --slider-thumb-border-size: 3px;
  --slider-track-thickness: 6px;
  --slider-active-transform: scale(1.15);
  --slider-color: var(--accent-color);
  --slider-track-color: var(--footer-slider-background);
  --slider-focus-outline-color: var(--primary-text);
  --tree-item-text: var(--primary-text);
  --tree-item-text-selected: var(--button-text-selected);
  --tree-item-background-hover: var(--button-background-hover);
  --tree-item-background-active: var(--button-background-active);
  --tree-item-background-selected: var(--accent-color);
  --tree-empty-text: var(--empty-list-text);
  --tree-item-editing-text: var(--primary-text);
  --tree-item-editing-background: transparent;
  --tree-item-margin: 0.125rem 0.25rem;
  --tree-drop-cursor-border: 2px solid var(--accent-color);
  --tree-item-transition: none;

  /* Allotment overrides */
  --separator-border: transparent;
  --focus-border: var(--accent-color);
  --sash-size: 9px;

  /* Contexify overrides */
  --contexify-menu-padding: 0.25rem;
  --contexify-menu-radius: 0.4rem;
  --contexify-menu-minWidth: 12.5rem;
  --contexify-itemContent-padding: 0.25rem 1.5rem;
  --contexify-menu-bgColor: var(--context-menu-background);
  --contexify-item-color: var(--primary-text);
  --contexify-rightSlot-color: var(--primary-text);
  --contexify-arrow-color: var(--primary-text);
  --contexify-activeItem-bgColor: var(--button-background-hover);
  --contexify-activeItem-color: var(--primary-text);
  --contexify-activeRightSlot-color: var(--primary-text);
  --contexify-activeArrow-color: var(--primary-text);

  .contexify {
    font-size: 0.8rem;
  }

  .contexify_rightSlot {
    padding-left: 0.5rem;
    justify-content: right;
  }

  /* react-color-palette overrides */
  .rcp-root {
    --rcp-background-color: var(--primary-background);
    --rcp-field-input-color: var(--primary-text);
    --rcp-field-input-border-color: var(--primary-border);
    --rcp-field-label-color: var(--secondary-text);

    border: 1px solid var(--primary-border);
    box-shadow: 1px 4px 16px -4px rgb(0 0 0 / 60%);
  }

  .rcp-hue,
  .rcp-saturation {
    cursor: default;
  }

  .rcp-saturation-cursor,
  .rcp-hue-cursor {
    border: 2px solid var(--primary-text);
  }

  .rcp-hue-cursor {
    transform: translate(-10px, -6px);
  }

  .rcp-field-input {
    border: 1px solid var(--rcp-field-input-border-color);
  }

  .rcp-section {
    margin: 0;
  }

  .rcp-fields-floor {
    display: flex;
  }

  /* AG-Grid overrides */
  .ag-theme-balham {
    --ag-header-background-color: transparent;
    --ag-header-foreground-color: var(--secondary-text);
    --ag-header-column-separator-color: var(--primary-text);
    --ag-foreground-color: var(--primary-text);
    --ag-background-color: transparent;
    --ag-modal-overlay-background-color: transparent;
    --ag-row-height: 33px;
    --ag-range-selection-border-color: var(--accent-color);
  }

  .ag-root-wrapper {
    border: none;

    --ag-border-color: var(--primary-border);
  }

  .ag-header .ag-header-cell:hover {
    font-weight: 700;
  }

  .ag-header-cell::before {
    opacity: 0.2;
  }

  .ag-header-cell:focus-visible::after {
    border: 2px solid var(--primary-text);
    border-radius: 0.25rem;
  }

  .ag-cell-label-container.ag-header-cell-sorted-asc,
  .ag-cell-label-container.ag-header-cell-sorted-desc {
    color: var(--primary-text);
  }

  .ag-body-viewport {
    padding: 0.25rem;
  }

  .ag-row {
    border: none;
    border-radius: 0.25rem;

    --ag-odd-row-background-color: var(--tracklist-odd-row-background);
    --ag-row-background-color: black;
  }

  .ag-row-hover::before {
    background-color: var(--button-background-hover) !important;
    border-radius: 0.25rem;
  }

  .ag-row-hover.ag-row-selected::before {
    background-color: var(--accent-color) !important;
    border-radius: 0.25rem;
  }

  .ag-row-selected {
    background-color: var(--accent-color) !important;
    color: var(--button-text-selected) !important;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;

    --ag-selected-row-background-color: transparent;
  }

  .ag-row-hover {
    border-radius: 0.25rem;
  }

  .ag-dnd-ghost-icon {
    display: none;
  }

  .ag-dnd-ghost {
    background-color: transparent;
    border: none;
    padding: 0;
    padding-left: 1rem;
  }

  .ag-dnd-ghost-label {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem;
    color: var(--primary-text);
    background-color: var(--primary-background);
    border-radius: 0.25rem;
    opacity: 0.9;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .ag-sort-order {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
    padding: 0 !important;
    background-color: var(--button-background-hover);
    border-radius: 0.25rem;
  }

  .ag-overlay-loading-wrapper {
    background-color: var(--primary-background);
  }

  .ag-overrides-track-summary-rows {
    .ag-header {
      display: none;
    }

    .ag-row-selected::before {
      content: unset;
    }

    .ag-center-cols-viewport {
      width: 0;
    }

    .ag-full-width-container {
      position: inherit;
      pointer-events: all;
    }

    .ag-full-width-row {
      overflow: unset;
    }

    .ag-row {
      --ag-odd-row-background-color: transparent;
    }

    .ag-row:hover:not(
        [row-id^="album-header"],
        [row-id^="album-separator"],
        [row-id^="disc-separator"]
      ) {
      background-color: var(--button-background-hover);
    }
  }

  .ag-overrides-split-view {
    .ag-full-width-container {
      margin-top: 2rem;
      margin-left: 22rem;
    }
  }

  .ag-overrides-album-view {
    .ag-full-width-container {
      margin-top: 0;
      margin-left: 25.5rem;
    }
  }

  .ag-overrides-queue {
    .ag-full-width-container {
      margin: 0.5rem;
    }

    .ag-full-width-row:not([aria-selected]) {
      pointer-events: none !important;
    }
  }

  .ag-overrides-track-list {
    .ag-overrides-scroll-top .ag-header {
      border-bottom: none;
    }
  }

  .ag-header-cell.ag-column-last[col-id^="attribution"] {
    display: none;
  }
}
