.search {
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 28rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 4rem 0 0.5rem;
  color: var(--primary-text);
}

.subtitle {
  line-height: 1.5;
  margin: 0 0 1rem;
  color: var(--empty-list-text);
}

.historyPanel {
  width: 100%;
  margin-top: 0.5rem;
  background-color: var(--inset-background);
  border-radius: 0.5rem;
  overflow: hidden;
}

.historyHeader {
  margin: 0;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-text);
}

.historyList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.historyItem {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchLink {
  color: var(--accent-color);
  font-size: 1rem;
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  flex: 1;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.removeButton {
  height: 1.4rem;
  width: 1.4rem;
  padding: 0.1rem;
  flex-shrink: 0;

  &:hover {
    background-color: var(--button-background-hover);
  }
}
