.searchResults {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  padding: 0 0.5rem 0.5rem;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}

.border {
  border-bottom-color: var(--primary-border);
}

.tab {
  text-align: left;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  margin: 0.25rem;
  font-size: 1rem;
  cursor: pointer;

  &:hover:not(.selected) {
    background-color: var(--button-background-hover);
  }

  &:active:not(.selected) {
    background-color: var(--button-background-active);
  }
}

.selected {
  color: var(--button-text-selected);
  background-color: var(--accent-color);
}

.searchCategoryContainer {
  flex: 1;
  overflow: hidden;
}
