.settings {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.outlet {
  flex: 1;
  max-width: calc(50% + 20rem);
  min-width: 0;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.outletInner {
  max-width: 40rem;
  padding: 0 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0.5rem;
  width: 12rem;
  margin-left: auto;
  overflow-y: auto;
}

.link {
  text-align: left;
  text-decoration: none;
  padding: 0.75rem 1rem;
  margin: 0.25rem;
  font-size: 1rem;
  cursor: pointer;

  &:hover:not(.selected) {
    background-color: var(--button-background-hover);
  }

  &:active:not(.selected) {
    background-color: var(--button-background-active);
  }
}

.selected {
  color: var(--button-text-selected);
  background-color: var(--accent-color);
}
