.page {
  .title {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .separator {
    border: none;
    border-top: 1px solid var(--primary-border);
  }
}

.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.removeButton {
  color: var(--button-destructive);
  width: 1.5rem;
  height: 1rem;
  padding: 0 0.4rem;

  &.selected {
    color: var(--button-text-selected);
  }

  &:hover {
    color: var(--button-destructive-hover);
  }
}

.themeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem;

  .removeButton {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

.themeItem {
  position: relative;
}

.themeButton {
  padding: 0.5rem;
  text-align: left;
  border-radius: 0.5rem;
  color: var(--primary-text);

  &:hover {
    background-color: var(--button-background-hover);
  }

  &:active {
    background-color: var(--button-background-active);
  }

  &.selected {
    background-color: var(--accent-color);
    color: var(--button-text-selected);
  }

  .splitTheme {
    display: grid;

    > div {
      grid-column: 1;
      grid-row: 1;

      &:nth-child(1) {
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
      }

      &:nth-child(2) {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
      }
    }
  }

  p {
    word-wrap: break-word;
    margin: 0;
    margin-top: 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 7.5rem;
  }
}

.accentContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 16rem;
}

.accentButton {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
  padding: 0;
  border: 2px solid transparent;

  &.selected {
    border: 2px solid var(--settings-selected-accent-outline);
  }
}

.accentPicker {
  height: 10rem;
  transform: translateX(16rem) translateY(-12.65rem);
  width: 17.5rem;
}

.disabledSection,
.accentButton:disabled {
  opacity: 0.5;
}

.plugin {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  padding-bottom: 0.5rem;
}

.alert {
  margin: 1rem 0;
  background-color: var(--inset-background);
  padding: 1rem;
  border-radius: 0.25rem;

  h4 {
    margin: 0.5rem 0;
  }
}

.versionCard {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  border: 1px solid var(--primary-border);
  padding: 1rem;
  min-width: 12rem;
  display: inline-block;
  text-align: left;
  user-select: text;

  .title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  .subtitle {
    font-size: 0.8rem;
    color: var(--secondary-text);
    margin: 0.25rem 0 0;
  }
}
