.noResults {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: var(--empty-list-text);
  font-style: italic;
}

.searchResults {
  padding: 0 1.5rem;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.viewAll {
  color: var(--accent-color);
  font-size: 0.9rem;
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.horizontalList {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.artistItem {
  min-width: 10rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albumItem {
  min-width: 12rem;
  width: 12rem;
  flex-shrink: 0;
  padding: 0.5rem;
}

.artistItem:hover {
  background-color: var(--button-background-hover);
}

.artistArt {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 0.75rem;
  border: 2px solid var(--inset-background);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.artistInfo {
  width: 100%;
  min-height: 0;
  text-align: center;
}

.artistName {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--primary-text);
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}