.topResultItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  background: none;
  border: none;
  border-radius: 0.5rem;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: var(--button-background-hover);
  }

  &:active {
    background-color: var(--button-background-active);
  }
}

.artwork {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 1rem;
  border: 1px solid var(--inset-background);
  display: flex;
  align-items: center;
  justify-content: center;

  &.artist {
    border-radius: 50%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
  height: 4rem;
  justify-content: center;
}

.title {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-text);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.125rem;
}

.subtitle {
  font-size: 0.8rem;
  color: var(--secondary-text);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.125rem;
}

.type {
  font-size: 0.7rem;
  color: var(--secondary-text);
  font-weight: 500;
  letter-spacing: 0.025em;
}

.attribution {
  margin-left: auto;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
