.artwork {
  position: absolute;
  z-index: 10;
  transform: translateX(-22rem);
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--inset-background);
  border-style: solid;
  display: flex;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.albumTitle {
  margin: 0.75rem 0;
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.albumDetails {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.artistButtons {
  font-size: 1.2rem;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.artistButtonContainer {
  display: inline;
  white-space: nowrap;
}

.artist {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.albumText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.textSeparator {
  margin-left: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}
