.detailOuter {
  position: absolute;
  inset: 0;
  z-index: 5;
  backdrop-filter: blur(4px);
  padding: 3rem 3.5rem;
  cursor: pointer;
}

.detailInner {
  background-color: var(--primary-background);
  border-radius: 1rem;
  height: 100%;
  box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
  cursor: default;
  display: flex;
  flex-direction: column;
}

.detailHeader {
  display: flex;
  padding: 0.5rem 0.75rem;
  overflow: none;
  border-bottom: 1px solid transparent;
  flex-shrink: 0;

  h2 {
    margin: 0;
    margin-top: 0.1rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.border {
  border-bottom-color: var(--primary-border);
}

.backButton {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  transition: transform 0.1s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--button-background-hover);
  }

  &:active svg {
    transform: scale(0.9);
  }
}

.albumTrackList {
  height: 100%;
  margin-right: 1rem;
  overflow: hidden;
}
