.albumArt {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--inset-background);
  border-style: solid;

  &:hover {
    cursor: pointer;
  }
}

.albumInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.albumTextContainer {
  flex-grow: 1;
  min-width: 0;
}

.albumText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  display: block;
  max-width: 100%;

  &:hover {
    text-decoration: underline;
  }
}

.albumTitle {
  font-weight: 500;
  margin-top: 0.4rem;
  padding: 0 0.2rem;
  font-size: 0.95rem;
}

.albumArtist {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  display: inline;
  white-space: nowrap;
}

.artistButtons {
  margin-top: 0.1rem;
  padding: 0 0.2rem;
  line-height: 1.4;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  height: 1.4em;
  text-overflow: ellipsis;
}

.artistButtonContainer {
  display: inline;
  white-space: nowrap;
}
