.trackSummaryRow {
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 0 0.25rem;
}

.highlighted {
  font-weight: 700;
}

.trackArtwork {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: var(--inset-background);
  border-style: solid;
  display: flex;
  object-fit: contain;
  aspect-ratio: 1/1;
  margin: 0 0.25rem;
  flex-shrink: 0;
}

.trackNumber {
  width: 1.5rem;
  margin: 0 0.5rem;
  text-align: center;
  flex-shrink: 0;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  margin: 0 0.75rem;
}

.trackArtist {
  font-style: italic;
  font-size: 0.75rem;
}

.trackText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trackDuration {
  width: 2rem;
  margin: 0 0.75rem;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}
