.windowsControls {
  display: flex;
  height: 100%;
}

.windowsControl {
  width: 46px;
  border-radius: 0;

  &:hover {
    background-color: var(--windows-control-background-hover);
  }

  &:active {
    background-color: var(--windows-control-background-active);
  }
}

.windowsClose {
  &:hover {
    background-color: #c42a1c;
    color: white;
  }

  &:active {
    background-color: #c42a1cea;
    color: white;
  }
}
