.artwork {
  position: absolute;
  z-index: 10;
  transform: translateX(-22rem);
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--search-background-active);
  border-style: solid;
  display: flex;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.albumTitle {
  margin: 0.75rem 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.albumDetails {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.textSeparator {
  margin-left: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}
