.trackDetailRow {
  height: 100%;
  display: flex;
  align-items: center;
}

.highlighted {
  font-weight: 700;
}

.trackNumber {
  width: 1.5rem;
  margin-left: 0.75rem;
  text-align: center;
}

.trackInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 1rem;
}

.trackArtist {
  font-style: italic;
  font-size: 0.75rem;
}

.trackDuration {
  margin-right: 1rem;
}
