.trackSummaryRow {
  display: flex;
  align-items: center;
  height: 3rem;
}

.highlighted {
  font-weight: 700;
}

.trackNumber {
  width: 1.5rem;
  margin-left: 0.75rem;
  text-align: center;
  flex-shrink: 0;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0.75rem;
  overflow: hidden;
}

.trackArtist {
  font-style: italic;
  font-size: 0.75rem;
}

.trackText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trackDuration {
  margin-left: 0.75rem;
  margin-right: 1rem;
  flex-shrink: 0;
}
