.trackDetailRow {
  height: 100%;
  display: flex;
  align-items: center;
}

.highlighted {
  font-weight: 700;
}

.trackNumber {
  width: 24px;
  margin-left: 12px;
  text-align: center;
}

.trackInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 16px;
}

.trackArtist {
  font-style: italic;
  font-size: 12px;
}

.trackDuration {
  margin-right: 16px;
}

.textSeparator {
  margin-left: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 100%;
}

.artwork {
  position: absolute;
  z-index: 10;
  transform: translateX(-22rem);
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--search-background-active);
  border-style: solid;
  display: flex;
  object-fit: contain;
  aspect-ratio: 1/1;
}
