body {
  font-family:
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  color: var(--primary-text);
  background-color: var(--primary-background);
  accent-color: var(--accent-color);
  margin: 0;
  overscroll-behavior: none;
  user-select: none;
  overflow: hidden;

  button,
  select,
  input {
    font-family: inherit;
    color: var(--primary-text);
  }

  button {
    background: none;
    border: none;
    border-radius: 0.25rem;
  }

  .settings-button {
    border: 1px solid var(--settings-button-border);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;

    &:hover {
      background-color: var(--button-background-hover);
    }
  }
}
