.window {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  overflow: auto;
}

.error h1 {
  font-weight: 500;
  margin: 0;
  display: inline;
}

.error p {
  margin: 1rem;
}

.error button {
  border: 1px solid;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.details {
  height: 40%;
}

.collapsible {
  user-select: text;
}
