.settings {
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.outlet {
  width: 100%;
  flex-grow: 1;
  padding: 1rem 2rem;
  max-width: 40rem;
  margin-right: 5%;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 12rem;
}

.link {
  color: var(--primary-text);
  text-decoration: none;
  padding: 0.75rem 1rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.link:hover:not(.selected) {
  background-color: var(--button-background-hover);
}

.selected {
  color: var(--button-text-selected);
  background-color: var(--accent-color);
}
