.page {
  h3 {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  h4 {
    margin: 1rem;
    margin-left: 0;
    font-size: 1rem;
    line-height: normal;
    font-weight: 500;
  }

  hr {
    border: none;
    border-top: 1px solid var(--primary-border);
  }

  section {
    margin-bottom: 2rem;
  }

  select {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--settings-select-background);
    font-size: 0.9rem;
  }

  button {
    &:not(.accentButton, .themeButton, .removeButton) {
      border: 1px solid var(--settings-button-border);
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      font-weight: 500;
    }

    &:hover:not(.accentButton, .themeButton, .removeButton) {
      background-color: var(--button-background-hover);
    }
  }
}

.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.themeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem;
}

.themeItem {
  position: relative;
}

.themeButton {
  padding: 0.5rem;
  text-align: left;
  border-radius: 0.5rem;
  color: var(--primary-text);

  &:hover {
    background-color: var(--button-background-hover);
  }

  &:active {
    background-color: var(--button-background-active);
  }

  &.selected {
    background-color: var(--accent-color);
    color: var(--button-text-selected);
  }

  .splitTheme {
    display: grid;

    > div {
      grid-column: 1;
      grid-row: 1;

      &:nth-child(1) {
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
      }

      &:nth-child(2) {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
      }
    }
  }

  p {
    word-wrap: break-word;
    margin: 0;
    margin-top: 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 7.5rem;
  }
}

.removeButton {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: var(--button-destructive);
  height: 1rem;

  &.selected {
    color: var(--button-text-selected);
  }

  &:hover {
    color: var(--button-destructive-hover);
  }
}

.accentContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 16rem;
}

.accentButton {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
  padding: 0;
  border: 2px solid transparent;

  &.selected {
    border: 2px solid var(--settings-selected-accent-outline);
  }
}

.accentPicker {
  height: 10rem;
  transform: translateX(16rem) translateY(-12.65rem);
  width: 17.5rem;
}

.disabledSection,
.accentButton:disabled {
  opacity: 0.5;
}

.alert {
  margin: 1rem 0;
  background-color: var(--inset-background);
  padding: 1rem;
  border-radius: 0.25rem;

  h4 {
    margin: 0.5rem 0;
  }
}
