.page h3 {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.page h4 {
  margin: 1rem;
  margin-left: 0;
  font-size: 1rem;
  line-height: normal;
  font-weight: 500;
}

.page hr {
  border: none;
  border-top: 1px solid var(--primary-border);
}

.page section {
  margin-bottom: 2rem;
}

.page select {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--select-background);
  color: var(--text-color);
  font-size: 0.9rem;
}

.page button:not(.accentButton) {
  border: 1px solid var(--settings-button-border);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.page button:hover:not(.accentButton) {
  background-color: var(--button-background-hover);
}

.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.accentContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 16rem;
}

.accentButton {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
}

.disabledSection,
.accentButton:disabled {
  opacity: 0.5;
}

.accentButton.selected {
  border: 2px solid var(--settings-selected-accent-outline);
}

.alert {
  margin: 1rem 0;
  background-color: var(--inset-background);
  padding: 1rem;
  border-radius: 0.25rem;
}

.alert h4 {
  margin: 0.5rem 0;
}
