.header {
  display: flex;
  padding: 0.5rem 0.75rem;
  overflow: none;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.border {
  border-bottom: 1px solid var(--primary-border);
}

.breadcrumbContainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.breadcrumbLink {
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbIcon {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  fill: var(--secondary-text);
  flex-shrink: 0;
}
