.header {
  display: flex;
  padding: 0.5rem 0.75rem;
  overflow: none;
  border-bottom: 1px solid transparent;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.headerLink {
  display: flex;
  align-items: baseline;
  padding: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.border {
  border-bottom-color: var(--primary-border);
}

.breadcrumbContainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.breadcrumbLink {
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbIcon {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  fill: var(--secondary-text);
  flex-shrink: 0;
}

.backButton {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  transition: transform 0.1s ease;
  cursor: pointer;

  &:disabled {
    color: var(--menubar-button-icon-disabled);
    cursor: default;
  }

  &:hover:not(:disabled) {
    background-color: var(--button-background-hover);
  }

  &:active svg {
    transform: scale(0.9);
  }
}
