.menuButton {
  height: 1.5rem;
  color: var(--menubar-button-text);
  padding: 0.1rem 0.5rem;
  margin-left: 0.1rem;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.menuButton:hover {
  background-color: var(--menubar-button-background-hover);
}
