[data-theme="dark"] {
  --primary-background: #2f2f2f;
  --primary-text: #f6f6f6;
  --sidebar-separator: rgb(34 34 34);
  --menubar-background: rgb(34 34 34);
  --menubar-button: rgb(236 236 236);
  --menubar-button-disabled: rgb(77 77 77);
  --menubar-button-background-hover: rgb(68 68 68);
  --windows-control-background-hover: rgb(255 255 255 / 6%);
  --windows-control-background-active: rgb(255 255 255 / 4%);
  --button-text: #f6f6f6;
  --button-text-selected: #fff;
  --button-background: rgb(66 66 66);
  --button-background-hover: rgb(76 76 76);
  --button-background-active: rgb(86 86 86);
  --button-background-selected: #4c9de4;
  --search-background: #252525;
  --search-background-active: #1a1a1a;
  --input-background: rgb(40 40 40);
  --footer-background: rgb(43 42 42);
  --player-controls: #ebebeb;
  --player-slider-background: #414141;
  --odd-row-background: rgb(40 40 40);
  --column-text: rgb(236 236 236);
}
