[data-theme="dark"] {
  /* General */
  --primary-text: #f1f1f1;
  --primary-background: #2f2f2f;
  --primary-border: rgb(36 36 36);
  --secondary-text: rgb(236 236 236);
  --empty-list-text: #b6b6b6;
  --button-background-hover: rgb(76 76 76);
  --button-background-active: rgb(86 86 86);
  --inset-background: rgb(36 36 36);

  /* Menu bar */
  --menubar-background: rgb(36 36 36);
  --menubar-button-icon-disabled: rgb(77 77 77);
  --menubar-button-background-hover: rgb(68 68 68);

  /* Windows controls */
  --windows-control-background-hover: rgb(255 255 255 / 6%);
  --windows-control-background-active: rgb(255 255 255 / 4%);

  /* Sidebar */
  --search-background: rgb(36 36 36);
  --search-background-active: #1a1a1a;

  /* Tracks */
  --odd-row-background: rgb(40 40 40);

  /* Footer */
  --footer-background: rgb(36 36 36);
  --player-controls: #ebebeb;
  --player-slider-background: #414141;

  /* Settings */
  --settings-button-border: #ebebeb;
  --settings-selected-accent-outline: #f6f6f6;
  --select-background: rgb(40 40 40);

  /* Icons */
  --missing-artwork-foreground: rgb(97 97 97);
  --missing-artwork-background: rgb(76 76 76);

  /* Context menus */
  --context-menu-background: rgb(66 66 66);
}
