[data-theme="light"] {
  /* Text */
  --primary-text: #1f1f1f;
  --secondary-text: rgb(0 0 0 / 54%);
  --button-text-selected: #fff;
  --menubar-button-text: #1f1f1f;
  --empty-list-text: #a3a3a3;

  /* Icons */
  --menubar-button-icon: #1f1f1f;
  --menubar-button-icon-disabled: rgb(175 175 175);
  --player-controls: #4c4c4c;
  --missing-artwork-foreground: #cecfd4;

  /* Borders */
  --primary-border: #d2d7da;
  --settings-button-border: #4c4c4c;
  --focus-outline: #313131;

  /* Backgrounds */
  --primary-background: #fff;
  --menubar-background: #fff;
  --menubar-button-background-hover: #f0f2f5;
  --windows-control-background-hover: rgb(0 0 0 / 5%);
  --windows-control-background-active: rgb(0 0 0 / 3%);
  --button-background-hover: #f0f2f5;
  --button-background-active: #e4e6eb;
  --context-menu-background: rgb(252 252 252);
  --inset-background: #f0f0f0;
  --search-background: #f0f0f0;
  --search-background-active: #ebebeb;
  --select-background: #fff;
  --footer-background: #fff;
  --player-slider-background: #eee;
  --odd-row-background: #f5f5f5;
  --missing-artwork-background: #f0f2f5;
}
