.menuBar {
  display: flex;
  height: 1.6rem;
  flex-shrink: 0;
  background-color: var(--menubar-background);
  padding-left: 0.5rem;
  border-bottom: 1px solid var(--primary-border);
  user-select: none;
}
