.scanProgress {
  font-size: 0.8rem;
  margin: 0 0.6rem;
  width: 7rem;
  text-align: center;
}

.volume {
  width: 6rem;
  border-radius: 5px;
  margin: 0 0.6rem;
}

.button {
  width: 2.3rem;
  height: 2.3rem;
  color: var(--footer-controls);
  padding: 0.3rem;
  margin: 0;
  display: flex;
  flex-shrink: 0;
  transition: transform 0.1s ease;

  &:hover:not(.selected) {
    background-color: var(--button-background-hover);
  }

  &:active svg {
    transform: scale(0.95);
  }
}

.queue {
  width: 2rem;
  height: 2rem;
  margin-left: 0.4rem;
  cursor: pointer;
}

.selected {
  color: var(--button-text-selected);
  background-color: var(--accent-color);
}
