.footer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 4.75rem;
  border-top: 1px solid var(--primary-border);
  align-items: center;
  background-color: var(--footer-background);
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.art {
  width: 4.75rem;
  height: 100%;
  flex-shrink: 0;
}

.metadata {
  padding: 0 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  flex-direction: column;
  line-height: 1.4rem;
  display: flex;
  text-overflow: ellipsis;
  text-align: left;
}

.metadataRow {
  display: flex;
}

.title {
  font-weight: 600;
  font-size: 1rem;
  padding: 0.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: var(--button-background-hover);
  }
}

.artist {
  font-size: 0.9rem;
  padding: 0 0.1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.metadata.compact {
  .title,
  .artist {
    line-height: 1.2;
  }

  .title {
    font-size: 0.9rem;
  }

  .artist {
    font-size: 0.8rem;
    padding-bottom: 0.25rem;
  }
}
