.footer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 4.75rem;
  border-top: 1px solid var(--sidebar-separator);
  align-items: center;
  background-color: var(--footer-background);
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.art {
  width: 4.75rem;
  height: 100%;
  background-color: #bdc3c7;
  color: #0e0e0e;
  flex-shrink: 0;
}

.metadata {
  padding: 0 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  flex-direction: column;
  text-overflow: ellipsis;
  line-height: 1.4rem;
}

.title {
  font-weight: 600;
  font-size: 1rem;
}

.artist {
  font-size: 0.9rem;
}
