.playback {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}

.time {
  font-size: 0.8rem;
  padding: 0.2rem 0;
  width: 3rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-variant-numeric: tabular-nums;
}

.durationButton {
  border: none;
  font-family: inherit;
  font-weight: inherit;
  color: var(--player-controls);
  background: none;
}

.durationButton:hover {
  background-color: var(--button-background-hover);
  border-radius: 0.25rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.button {
  color: var(--player-controls);
  border: none;
  padding: 0;
  display: flex;
  background: none;
}

.button:first-child,
.button:last-child {
  width: 0.9rem;
  margin: 0 0.2em;
}

.button:nth-child(2),
.button:nth-child(4) {
  width: 1.5rem;
  margin: 0 1.2rem;
}

.button:nth-child(3) {
  width: 1.4rem;
}
