:root {
  /* General */
  --primary-text: #1f1f1f;
  --primary-background: #fff;
  --primary-border: #d2d7da;
  --secondary-text: #919191;
  --empty-list-text: #a3a3a3;
  --inset-background: #fafafa;

  /* Buttons */
  --button-background-hover: #f1f1f1;
  --button-background-active: #e3e4e7;
  --button-destructive: #e03131;
  --button-destructive-hover: #fa5252;

  /* Menu bar */
  --menubar-background: #fff;
  --menubar-button-icon-disabled: rgb(175 175 175);
  --menubar-button-background-hover: #f0f2f5;

  /* Windows controls */
  --windows-control-background-hover: rgb(0 0 0 / 5%);
  --windows-control-background-active: rgb(0 0 0 / 3%);

  /* Sidebar */
  --search-placeholder-text: #797979;
  --search-background: #f0f0f0;
  --search-background-active: #ebebeb;

  /* Tracks */
  --tracklist-odd-row-background: #f5f5f5;

  /* Footer */
  --footer-background: #fff;
  --footer-controls: #4c4c4c;
  --footer-slider-background: #eee;

  /* Settings */
  --settings-button-border: #4c4c4c;
  --settings-selected-accent-outline: #313131;
  --settings-select-background: #fff;

  /* Icons */
  --missing-artwork-foreground: #cecfd4;
  --missing-artwork-background: #f0f2f5;

  /* Context menus */
  --context-menu-background: rgb(252 252 252);
}
