body {
  margin: 0;

  /* Allotment overrides */
  --separator-border: transparent;
  --sash-size: 9px;

  /* Contexify overrides */
  --contexify-menu-padding: 5px 5px;
  --contexify-menu-radius: 6px;
  --contexify-menu-minWidth: 160px;
  --contexify-itemContent-padding: 2px 4px;
  --contexify-menu-bgColor: var(--button-background);
  --contexify-item-color: var(--button-text);
  --contexify-rightSlot-color: var(--button-text);
  --contexify-arrow-color: var(--button-text);
  --contexify-activeItem-bgColor: var(--button-background-hover);
  --contexify-activeItem-color: var(--button-text);
  --contexify-activeRightSlot-color: var(--button-text);
  --contexify-activeArrow-color: var(--button-text);

  .contexify {
    font-size: 0.9em;
  }
}

/* AG-Grid overrides */
.ag-theme-balham {
  --ag-header-background-color: var(--primary-background);
  --ag-header-foreground-color: var(--column-text);
  --ag-foreground-color: var(--primary-text);
  --ag-background-color: var(--primary-background);
  --ag-row-height: 33px;
}

.ag-root-wrapper {
  border: none;

  --ag-borders-critical: none;
}

.ag-header .ag-header-cell:hover {
  font-weight: 700;
}

.ag-cell-label-container.ag-header-cell-sorted-asc,
.ag-cell-label-container.ag-header-cell-sorted-desc {
  color: var(--button-text);
}

.ag-body {
  padding: 2px 5px;
}

.ag-row {
  border: none;
  border-radius: 4px;

  --ag-odd-row-background-color: var(--odd-row-background);
  --ag-row-background-color: black;
}

.ag-row-hover::before {
  background-color: var(--button-background-hover) !important;
  border-radius: 5px;
}

.ag-row-hover.ag-row-selected::before {
  background-color: var(--button-background-selected) !important;
  border-radius: 5px;
}

.ag-row-selected {
  background-color: var(--button-background-selected) !important;
  color: #fafafa !important;
  border-bottom: 1px solid var(--primary-background);

  --ag-selected-row-background-color: transparent;
}

.ag-row-hover {
  border-radius: 5px;
}

/* Themes */
:root {
  --primary-background: #fff;
  --primary-text: #0f0f0f;
  --sidebar-separator: #d2d7da;
  --menubar-background: #fff;
  --menubar-button: #3b3b3b;
  --menubar-button-disabled: rgb(175 175 175);
  --menubar-button-background-hover: #e9e9e9;
  --windows-control-background-hover: rgb(0 0 0 / 5%);
  --windows-control-background-active: rgb(0 0 0 / 3%);
  --button-text: #313131;
  --button-text-selected: #fff;
  --button-background: rgb(252 252 252);
  --button-background-hover: #f0f2f5;
  --button-background-active: #e4e6eb;
  --button-background-selected: #4c9de4;
  --search-background: #f0f0f0;
  --search-background-active: #ebebeb;
  --input-background: rgb(255 255 255);
  --footer-background: #fff;
  --player-controls: #4c4c4c;
  --player-slider-background: #eee;
  --odd-row-background: #f5f5f5;
  --column-text: rgb(0 0 0 / 54%);
}

[data-theme="dark"] {
  --primary-background: #2f2f2f;
  --primary-text: #f6f6f6;
  --sidebar-separator: rgb(34 34 34);
  --menubar-background: rgb(34 34 34);
  --menubar-button: rgb(236 236 236);
  --menubar-button-disabled: rgb(77 77 77);
  --menubar-button-background-hover: rgb(68 68 68);
  --windows-control-background-hover: rgb(255 255 255 / 6%);
  --windows-control-background-active: rgb(255 255 255 / 4%);
  --button-text: #f6f6f6;
  --button-text-selected: #fff;
  --button-background: rgb(66 66 66);
  --button-background-hover: rgb(76 76 76);
  --button-background-active: rgb(86 86 86);
  --button-background-selected: #4c9de4;
  --search-background: #252525;
  --search-background-active: #1a1a1a;
  --input-background: rgb(40 40 40);
  --footer-background: rgb(43 42 42);
  --player-controls: #ebebeb;
  --player-slider-background: #414141;
  --odd-row-background: rgb(40 40 40);
  --column-text: rgb(236 236 236);
}

[data-theme="midnight"] {
  --primary-background: #000;
  --primary-text: #e7e7e7;
  --sidebar-separator: rgb(17 17 17);
  --menubar-background: #000;
  --menubar-button: rgb(187 187 187);
  --menubar-button-disabled: rgb(77 77 77);
  --menubar-button-background-hover: rgb(41 41 41);
  --windows-control-background-hover: rgb(255 255 255 / 6%);
  --windows-control-background-active: rgb(255 255 255 / 4%);
  --button-text: #e7e7e7;
  --button-text-selected: #fff;
  --button-background: rgb(20 20 20);
  --button-background-hover: rgb(36 36 36);
  --button-background-active: rgb(53 53 53);
  --button-background-selected: #070568;
  --search-background: #0c0c0c;
  --search-background-active: #242424;
  --input-background: rgb(17 17 17);
  --footer-background: rgb(2 2 2);
  --player-controls: #ececec;
  --player-slider-background: #1f1f1f;
  --odd-row-background: rgb(17 17 17);
  --column-text: rgb(187 187 187);
}
