body {
  margin: 0;

  /* Allotment overrides */
  --separator-border: transparent;
  --sash-size: 9px;

  /* Contexify overrides */
  --contexify-menu-padding: 0.25rem 0.25rem;
  --contexify-menu-radius: 0.4rem;
  --contexify-menu-minWidth: 10rem;
  --contexify-itemContent-padding: 0.25rem;
  --contexify-menu-bgColor: var(--button-background);
  --contexify-item-color: var(--button-text);
  --contexify-rightSlot-color: var(--button-text);
  --contexify-arrow-color: var(--button-text);
  --contexify-activeItem-bgColor: var(--button-background-hover);
  --contexify-activeItem-color: var(--button-text);
  --contexify-activeRightSlot-color: var(--button-text);
  --contexify-activeArrow-color: var(--button-text);

  .contexify {
    font-size: 0.9rem;
  }
}

/* AG-Grid overrides */
.ag-theme-balham {
  --ag-header-background-color: var(--primary-background);
  --ag-header-foreground-color: var(--column-text);
  --ag-foreground-color: var(--primary-text);
  --ag-background-color: var(--primary-background);
  --ag-modal-overlay-background-color: transparent;
  --ag-row-height: 33px;
}

.ag-root-wrapper {
  border: none;

  --ag-borders-critical: none;
}

.ag-header .ag-header-cell:hover {
  font-weight: 700;
}

.ag-cell-label-container.ag-header-cell-sorted-asc,
.ag-cell-label-container.ag-header-cell-sorted-desc {
  color: var(--button-text);
}

.ag-body {
  padding: 0.125rem 0.25rem;
}

.ag-row {
  border: none;
  border-radius: 0.25rem;

  --ag-odd-row-background-color: var(--odd-row-background);
  --ag-row-background-color: black;
}

.ag-row-hover::before {
  background-color: var(--button-background-hover) !important;
  border-radius: 0.25rem;
}

.ag-row-hover.ag-row-selected::before {
  background-color: var(--button-background-selected) !important;
  border-radius: 0.25rem;
}

.ag-row-selected {
  background-color: var(--button-background-selected) !important;
  color: #fafafa !important;
  border-bottom: 1px solid var(--primary-background);

  --ag-selected-row-background-color: transparent;
}

.ag-row-hover {
  border-radius: 0.25rem;
}
